# Don't have token in source control
auth.json

# Each user of the bot should have their own settings file
settings.json

# node crap
node_modules

# Logs
logs/
yarn-error.log

# Don't want binary files
sounds/
**/result
